In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV 
from sklearn import datasets
from sklearn.metrics import confusion_matrix

In [2]:
data = pd.read_csv("bank market.csv",sep=",")
data.head()

   age  job  marital  default  housing  loan  duration  campaign    y
0   56    2        1        0        0     0       261         1   no
1   39    2        1        0        1     0       935         3  yes
2   54    2        1        0        0     0       160         1   no
3   39    2        1        0        0     1       266         1   no
4   60    2        1        0        0     0       253         1   no

In [3]:
data['y']=data['y'].map({'no':0,'yes':1})
y1=data['y']
x1=data.drop(columns='y')
x=x1.values
y=y1.values

In [5]:
n=5
from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=n,random_state=None)

In [6]:
from sklearn import datasets 
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB, ComplementNB

In [7]:
cm1=[]
total1=[]
ac1=[]
se1=[]
sp1=[]
cm2=[]
total2=[]
ac2=[]
se2=[]
sp2=[]
cm3=[]
total3=[]
ac3=[]
se3=[]
sp3=[]
cm4=[]
total4=[]
ac4=[]
se4=[]
sp4=[]

In [8]:
for train_index,test_index in kf.split(x,y):
    x_train, x_test =x[train_index],x[test_index]
    y_train, y_test =y[train_index],y[test_index]
    gnb = GaussianNB()
    brn = BernoulliNB()
    multi = MultinomialNB()
    comp = ComplementNB()
    y_pred = gnb.fit(x_train, y_train).predict(x_test)
    y1_pred=brn.fit(x_train,y_train).predict(x_test)
    y2_pred=multi.fit(x_train,y_train).predict(x_test)
    y3_pred=comp.fit(x_train,y_train).predict(x_test)
    cm1.append((confusion_matrix(y_test,y_pred)).astype(float))
    cm2.append((confusion_matrix(y_test,y1_pred)).astype(float))
    cm3.append((confusion_matrix(y_test,y2_pred)).astype(float))
    cm4.append((confusion_matrix(y_test,y3_pred)).astype(float))
for j in range (n):
    total1.append(sum(sum(cm1[j])))
    ac1.append((cm1[j][0,0]+cm1[j][1,1])/total1[j])
    se1.append(cm1[j][0,0]/(cm1[j][0,0]+cm1[j][0,1]))
    sp1.append(cm1[j][1,1]/(cm1[j][1,0]+cm1[j][1,1]))
for j in range (n):
    total2.append(sum(sum(cm2[j])))
    ac2.append((cm2[j][0,0]+cm2[j][1,1])/total2[j])
    se2.append(cm2[j][0,0]/(cm2[j][0,0]+cm2[j][0,1]))
    sp2.append(cm2[j][1,1]/(cm2[j][1,0]+cm2[j][1,1]))
for j in range (n):
    total3.append(sum(sum(cm3[j])))
    ac3.append((cm3[j][0,0]+cm3[j][1,1])/total3[j])
    se3.append(cm3[j][0,0]/(cm3[j][0,0]+cm3[j][0,1]))
    sp3.append(cm3[j][1,1]/(cm3[j][1,0]+cm3[j][1,1]))
for j in range (n):
    total4.append(sum(sum(cm4[j])))
    ac4.append((cm4[j][0,0]+cm4[j][1,1])/total4[j])
    se4.append(cm4[j][0,0]/(cm4[j][0,0]+cm4[j][0,1]))
    sp4.append(cm4[j][1,1]/(cm4[j][1,0]+cm4[j][1,1]))
akurasi1 = np.mean(ac1)
spesifisiti1 = np.mean(sp1)
sensitiviti1 = np.mean(se1)
akurasi2 = np.mean(ac2)
spesifisiti2 = np.mean(sp2)
sensitiviti2 = np.mean(se2)
akurasi3 = np.mean(ac3)
spesifisiti3 = np.mean(sp3)
sensitiviti3 = np.mean(se3)
akurasi4 = np.mean(ac4)
spesifisiti4 = np.mean(sp4)
sensitiviti4 = np.mean(se4)

In [9]:
print("Gaussian Method")
print(akurasi1)
print(spesifisiti1)
print(sensitiviti1)

Gaussian Method
0.788370856785491
0.4
0.7991902834008098

In [10]:
print("Bernoulli Method")
print(akurasi2)
print(spesifisiti2)
print(sensitiviti2)

Bernoulli Method
0.9551031894934334
0.0
0.9947368421052631

In [11]:
print("Multinomial Method")
print(akurasi3)
print(spesifisiti3)
print(sensitiviti3)

Multinomial Method
0.895322076297686
1.0
0.8908232118758435

In [12]:
print("Complete Method")
print(akurasi4)
print(spesifisiti4)
print(sensitiviti4)

Complete Method
0.8901938711694809
1.0
0.8855600539811068

In [13]:
#performansi masing-masing fold ->csv
df_k1 = pd.DataFrame()
test1 = dict()
for j in range (3):
    test1[j]=[]
for i in range (n):
    test1[0].append(ac1[i])
    test1[1].append(sp1[i])
    test1[2].append(se1[i])
for i in range (3):
    df_k1=pd.concat([df_k1,pd.DataFrame(test1[i])],axis=1)
df_k1.columns = ['Akurasi Gauss','Spesifikasi Gauss','Sentivitasi Gauss']
df_k1

   Akurasi Gauss  Spesifikasi Gauss  Sentivitasi Gauss
0       0.804878                0.5           0.820513
1       0.341463                0.5           0.333333
2       0.975000                1.0           0.973684
3       0.846154                0.0           0.868421
4       0.974359                0.0           1.000000

In [14]:
#performansi masing-masing fold ->csv
df_k2 = pd.DataFrame()
test2 = dict()
for j in range (3):
    test2[j]=[]
for i in range (n):
    test2[0].append(ac2[i])
    test2[1].append(sp2[i])
    test2[2].append(se2[i])
for i in range (3):
    df_k2=pd.concat([df_k2,pd.DataFrame(test2[i])],axis=1)
df_k2.columns = ['Akurasi bernoulli','Spesifikasi bernoulli','Sentivitasi bernoulli']
df_k2

   Akurasi bernoulli  Spesifikasi bernoulli  Sentivitasi bernoulli
0           0.951220                    0.0               1.000000
1           0.951220                    0.0               1.000000
2           0.950000                    0.0               1.000000
3           0.948718                    0.0               0.973684
4           0.974359                    0.0               1.000000

In [15]:
#performansi masing-masing fold ->csv
df_k3 = pd.DataFrame()
test3 = dict()
for j in range (3):
    test3[j]=[]
for i in range (n):
    test3[0].append(ac3[i])
    test3[1].append(sp3[i])
    test3[2].append(se3[i])
for i in range (3):
    df_k3=pd.concat([df_k3,pd.DataFrame(test3[i])],axis=1)
df_k3.columns = ['Akurasi multinomial','Spesifikasi multinomial','Sentivitasi multinomial']
df_k3

   Akurasi multinomial  Spesifikasi multinomial  Sentivitasi multinomial
0             0.926829                      1.0                 0.923077
1             0.829268                      1.0                 0.820513
2             0.900000                      1.0                 0.894737
3             0.897436                      1.0                 0.894737
4             0.923077                      1.0                 0.921053

In [16]:
#performansi masing-masing fold ->csv
df_k4 = pd.DataFrame()
test4 = dict()
for j in range (3):
    test4[j]=[]
for i in range (n):
    test4[0].append(ac4[i])
    test4[1].append(sp4[i])
    test4[2].append(se4[i])
for i in range (3):
    df_k4=pd.concat([df_k4,pd.DataFrame(test4[i])],axis=1)
df_k4.columns = ['Akurasi complete','Spesifikasi complete','Sentivitasi complete']
df_k4

   Akurasi complete  Spesifikasi complete  Sentivitasi complete
0          0.926829                   1.0              0.923077
1          0.829268                   1.0              0.820513
2          0.900000                   1.0              0.894737
3          0.871795                   1.0              0.868421
4          0.923077                   1.0              0.921053